* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #10141e;
  position: relative;
}

.sidebar {
  /* border: 2px solid #686868; */
  background-color: #171e31;
  height: 95vh;
  width: 4%;
  align-self: center;
  margin: 0 0 0 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #546487;
  padding-top: 12px;
  position: fixed;
  left: 0;
}

.sidebar div {
  margin: 15px;
  border-radius: 15px;
  font-size: 20px;
}

.sidebar div:hover {
  color: purple;
}

.main_container {
  display: flex;
  width: 95%;
  height: 100vh;
  position: absolute;
  right: 0;
}

.movies_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 22%;
  height: 410px;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 15px;
  position: relative;
}

.movie:hover {
  box-shadow: 0px 0px 24px 0px hsl(223, 36%, 36%);
}

.movie .shadow {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.movie h2 {
  margin: 15px 10px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.details_container {
  display: flex;
  padding: 50px 90px;
}

.details_container img {
  width: 30%;
  border-radius: 15px;
}

.details {
  margin-left: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.details h1 {
  margin-bottom: 40px;
}

.details span {
  color: purple;
  font-weight: 600;
}

.details p {
  margin: 10px 0;
  font-size: 16px;
}

.back_icon {
  background-color: #171e31;
  color: #546487;
  margin-right: 20px;
  padding: 10px;
  border-radius: 8px;
}

.back_icon:hover {
  color: purple;
}

.details a {
  color: #546487;
}

.search-movies {
  width: 100%;
  margin-top: 15px;
  padding: 10px 0;
  border-radius: 25px;
  margin-left: 30px;
  color: #546487;
}

.search-movies input {
  background-color: transparent;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: hsl(224, 32%, 94%);
  margin-left: 15px;
  width: 80%;
}

.search-movies input:focus {
  outline: none;
}


.filter-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 30px;
}

.filter-container button {
  background-color: hsl(223, 36%, 16%);
  color: hsl(223, 36%, 94%);
  font-family: "Inter", sans-serif;
  border-radius: 15px;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 500;
}

.filter-container button:hover {
  background-color: hsl(223, 36%, 24%);
}

.filter-container button.active {
  background-color: hsl(224, 32%, 94%);
  color: hsl(224, 32%, 9%);
}

.filter-container button.more {
  color: hsl(221, 23%, 63%);
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0 10px;
}

.filter-container button.more:hover {
  background-color: hsl(223, 36%, 24%);
}
